<h2>商品編集</h2>

<%= form_with model: @item, url: admin_item_path do |f| %>
  <%= render "layouts/error_messages" %>
  <div class="img_field">
    <%= attachment_image_tag(@item, :image, size: "250x180") %>
  </div>
  <div class="form-group">
	  <%= f.attachment_field :image_id, class: " image" %>
  </div>